/generated/*
!.gitkeep

.vscode
.idea
.cursor

.venv
.envrc

spage.db
tmp
spage.log
/spage.yaml
/spage_temporal.yaml
generated_tasks.go
generated_tasks
test.conf
/docgen
/dist

# pre-commit prettier hook
node_modules

/spage
/.ansible
/*.tar.gz
*.so
.playwright-mcp
