data_dir = "/data/nomad"
bind_addr = "0.0.0.0"

# Enable the client
client {
  enabled = true
  servers = ["{{ nomad_servers | join('","') }}"]
}

# Telemetry
telemetry {
  collection_interval = "1s"
  disable_hostname = true
  prometheus_metrics = true
  publish_allocation_metrics = true
  publish_node_metrics = true
}

# Enable raw_exec driver for testing
plugin "raw_exec" {
  config {
    enabled = true
  }
}
